# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../:\Users\psakhare\OneDrive - Nice Systems Ltd\Pictures\Coday Jan 31st 2025\MyTeam_Java\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
